[submodule "detection/yolov5"]
	path = detection/yolov5
	url = https://github.com/ultralytics/yolov5
[submodule "VehicleX"]
	path = VehicleX
	url = ../VehicleX
[submodule "reid/vehicle_reid"]
	path = reid/vehicle_reid
	url = ../vehicle_reid
	branch = master
[submodule "mot/FairMOT"]
	path = mot/FairMOT
	url = git@github.com:regob/FairMOT.git
